@import url("https://fonts.googleapis.com/css2?family=Geist+Mono&display=swap");
:root {
  --accent: #0f0;
  --grad: #010;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geist Mono", monospace;
  color: var(--accent);
}
body {
  background: radial-gradient(circle, #000 67%, var(--grad) 100%);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
ul {
  list-style-type: "> ";
}
a {
  text-decoration: none;
}
li span a:hover {
  background: var(--accent);
  color: #000;
}
.coloursdude {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 1.5vh;
  gap: 1.5vh;
  margin-top: 1.5vh;
}
.coloursdude div {
  width: 1.5vh;
  height: 1.5vh;
  cursor: pointer;
}
.coloursdude div:hover {
  background: #fff;
}
.ge:hover {
  border: 0.1vh solid #0f0;
}
.pn:hover {
  border: 0.1vh solid #f0f;
}
.or:hover {
  border: 0.1vh solid #ff5b00;
}
.wh:hover {
  border: 0.1vh solid #fff;
}
.rd:hover {
  border: 0.1vh solid #f00;
}
.bl:hover {
  border: 0.1vh solid #00f;
}
.ge {
  background: #0f0;
}
.or {
  background: #ff5b00;
}
.pn {
  background: #f0f;
}
.wh {
  background: #fff;
}
.rd {
  background: #f00;
}
.bl {
  background: #00f;
}
.active {
  border: 0.1vh solid #fff;
}
